<div class="container">
    <div class="chat-view" id="js-chat-view">
    </div>
    <div class="chat-form">
        <form id="js-form">
            <input type="text" name="user" placeholder="user_name" id="js-form-user">
            <input type="text" name="comment" placeholder="add comment"  id="js-form-comment">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>